.top_bar{height:90px; line-height:90px; padding:0 20px; text-align:center; background:#18e2d2;}
.top_bar h1{font-size:32px; width:615px; text-align:center; font-size:32px; color:#fff; float:left;}
.prevPage{display:block; float:left; width:20px; height:35px; background:url(../images/leftBtn.png) no-repeat left center; margin-top:25px;}
.top_bar .home{display:block; margin-top:25px; float:right; width:39px; height:35px; background:url(../images/home_white.png) no-repeat right center;}
.firstRow h3{background:url(../images/roadIcon.png) no-repeat left center; padding-left:40px; font-weight:normal; float:left;}
.row{height:80px; line-height:80px; padding:0 20px; background:#fff; border-bottom:#ddd solid 1px;}
.grayRow{height:60px; line-height:60px; background:#f2f4fb; padding:0 20px;}
.grayRow span{color:#666}
.grayRow a{display:inline-block; color:#fc8113; font-size:24px; background:url(../images/siteIcon.png) no-repeat right center; padding-right:50px;}
.orangeText{color:#fc8113; font-size:24px; font-style:normal;}
.firstRow .rightPart{float:right; line-height:80px;}

.rightPart span{float:left; margin-right:10px;}
.rightPart select{ background:#eee url('../images/select_down.png') no-repeat 150px center; border:#ddd solid 1px; width:180px; padding:10px; height:40px; margin-top:20px; border-radius:5px;}
.textSpacing span{margin-right:35px; color:#666;}
.textSpacing span i{font-style:normal; color:#000;}
.tableList{margin-top:20px;}
.tableList dt,.tableList dd{background:#fff; padding:0 20px; height:80px; line-height:80px; border-bottom:#ddd solid 1px;}
.tableList dt>span,.tableList dd>span{display:inline-block; width:150px; text-align:center;}
.tableList dt span{font-weight:bold;}
.tableList dd span{ color:#666;}
.tableList dd a{display:block; width:60px; height:40px; float:right; margin-top:20px; background:url(../images/siteIcon.png) no-repeat left center;}
.tableList dd a .rightBtn{display:block; background:url(../images/rightBtn.png) no-repeat right center; width:60px; height:40px;}
.lmkd .textSpacing span{margin-right:10px;}
.showBox{display:none;}
.show{display:block;}