.top_bar{height:90px; line-height:90px; padding:0 20px; text-align:center; background:#146bee;}
.top_bar h1{font-size:32px; color:#fff;}
.prevPage{display:block; float:left; width:20px; height:35px; background:url(../images/leftBtn.png) no-repeat left center; margin-top:25px;}

.jlzs{height:90px; line-height:90px; background:#fff; border-bottom:#ddd solid 1px; padding:0 20px;}
.jlzs span{background:url(../images/jk.png) no-repeat left center; padding-left:40px; font-weight:bold; font-size:30px;}
.jlzs a{float:right; background:url(../images/list.png) no-repeat left center; padding-left:40px; color:#fd8012; font-size:32px;}

.filter_row{overflow:hidden; padding:0 20px; margin-top:20px;}
.filter_row .addInput{height:60px; width:569px; border:#ddd solid 1px; border-radius:5px; text-indent:10px; font-size:24px; color:#666; float:left;}
.filter_row .zhuanghao{width:150px; height:60px; margin-right:9px; border:#ddd solid 1px; border-radius:5px; text-indent:10px; font-size:24px; color:#666; float:left;}
.filter_row select{width:120px; height:60px; text-indent:10px; border:#ddd solid 1px; background:#fff url('../images/select_down.png') no-repeat 100px center; margin-right:8px; font-size:24px; color:#666; float:left;}
.filter_row .addBtn{display:block; float:left; width:100px; height:60px; margin-left:7px; border:#ddd solid 1px; border-radius:5px; overflow:hidden; background:#fff url(../images/jia.png) no-repeat center center;}
.selectGroup{width:569px; float:left;}
.filter_row .clearMargin{margin-right:0;}

.jkjg{margin-top:20px;}
.jkjg h2{ padding-left:40px; font-size:30px; color:#146bee; font-weight:normal; background:#eef8fa url(../images/blue_list_style.png) no-repeat 20px center; height:90px; line-height:90px;  border:#ddd solid 1px;}
#echarts{height:300px; padding:20px 0; background:#fff;}
.checkRow{padding:0 20px; background:#fff; height:80px; line-height:80px; border-bottom:#ddd solid 1px;}
a.checkRow{width:100%; padding:0; display:block;}
a.checkRow span{font-size:24px; color:#fd8012; padding-left:20px;}
a.checkRow .rightBtn{background:url(../images/rightBtn.png) no-repeat right center; width:17px; height:30px; display: block; margin-top:25px; margin-right:20px;}
.checkRow span{color:#666;}
.checkRow i{float:right; font-style:normal;}
.checkRow select{height:40px; line-height:40px; text-align:center; width:165px; border:none; font-size:24px; color:#666; margin-top:20px;}
.checkRow .bdl{padding-left:20px; border-left:#ddd solid 1px; height:40px; line-height:40px; margin-top:20px;}
.checkRow b{display:inline-block; margin-right:9px; font-size:20px; font-weight:normal;}
.checkListResult{margin-top:20px;}
.textBlue{color:#146bee;}
.textRed{color:#f95058;}
.bluebg{background:#eef7fb;}
.sub_main{padding-bottom:100px;}
.saveBtn{display:block; border-radius:5px; height:80px; background:#FD8012; color:#fff; line-height:80px; text-align:center;}
.save{padding:0 20px; width:680px; position:fixed; z-index:2; bottom:0;}

.addBox{position:fixed; display:none; z-index:4; width:720px; left:50%; background:#fff; margin-left:-360px; top:180px; border:#ddd solid 1px;}
.addBox h3{color:#666; font-size:30px; width:180px; float:left;}
.addBox .inputBox{width:498px; height:60px; line-height:60px; margin-top:10px; border:#ddd solid 1px; border-radius:5px; float:left; overflow:hidden;}
.addBox .inputBox input{height:60px; line-height:60px; width:418px; border:none; font-size:24px; color:#666; text-indent:10px;}
.inputBox .searchBtn{display:block; float:right; width:60px; margin-top:15px; height:31px; background:url(../images/searchBtn.png) no-repeat left center;}
.bgYellow{background:#fcf6ef; color:#000; font-size:24px; height:80px; line-height:80px;}
.addBox li{cursor:pointer; height:80px; line-height:80px; border-bottom:#ddd solid 1px; padding:0 20px;}
.addBox li span{width:600px; display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:24px; color:#666;}
.addBox li .rightBtn{display:inline-block; float:right; width:17px; height:30px; margin-top:25px; background:url(../images/rightBtn.png) no-repeat right center;}
.addBox li:hover{background:#eee;}
.btn_group{height:110px; padding-top:50px;}
.btn_group a{display:inline-block; width:150px; height:60px; line-height:60px; text-align:center; background:#146bee; color:#fff; font-size:30px; border-radius:5px;}
.btn_group a:first-child{margin-left:170px; margin-right:80px;}
.ld h4,.addBox li span{float:left; text-align: center}
.ld .checkRow h4:first-child,.addBox li span:first-child{width:140px;}
.ld h4:nth-child(2),.addBox li span:nth-child(2){width:130px;}
.ld h4:nth-child(3),.addBox li span:nth-child(3){width:130px;}
.ld h4:nth-child(4),.addBox li span:nth-child(4){width:160px;}
.ld h4:nth-child(5),.addBox li span:nth-child(5){width:120px;}
.addUnit li span:first-child{width:600px;}
.luduan h4:first-child{width:140px;}
